.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.alert {
    position:absolute;
    z-index:1;
    left: 330;
    color: #FFF;
}

.player {
    background-color: aliceblue;
}

.active-caption {
    background-color: lightblue;
}

.infoTable {
    background: rgba(76, 175, 80, 0.3);
    color: #FFF;
}

/* --- HACK TAIRAWHITIT --- */
.top {
    /* padding-top: 5rem; */
    background-image: url('assets/images/Branding.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: top center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.text-block {
    background-color:rgba(26, 25, 25, 0.788);
    color: white;
}

.uploadimage-dragndrop {
    border: 5px dashed lightgray;
    height: 280px;
    padding: 50px 100px;
    width: 400px;
}